@font-face {
  font-family: Roboto-Slab;
  src: url('./font/RobotoSlab-Regular.ttf');
  font-weight: 400;
}

:root {
  --pr-size: 0%;

  --0-size: 0%;

  --size: 0%;
}

/* layers */

body {
  z-index: 0;
}

input {
  z-index: 3;
}

#sphere {
  z-index: 1;
}

#curton1,
#curton2 {
  z-index: 2;
}

#measure {
  z-index: 3;
}

#result {
  z-index: 4;
}

/* general styles */

body {
  background-color: black;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px 10px;

  border: none;
  height: 30px;
  width: 70%;

  font-family: Roboto-Slab;
  font-size: 16px;
}

#sphere {
  position: relative;

  width: 25vw;
  height: 25vw;
  box-sizing: border-box;

  border: 3px solid white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;

  width: 300px;

  background-color: white;

  font-family: Roboto-Slab;
  font-size: 16px;
}

#measure {
  background-color: #E79EE2;
  opacity: 0.3;

  border-radius: 50%;

  margin: 0;
  padding: 0;

  height: var(--0-size);
  width: var(--0-size);
}

.move {
  animation: moveMeasure;
  animation-direction: normal;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#center-container {
  position: relative;
}

#curton1,
#curton2 {
  background-color: black;

  height: 100%;
  width: 50%;

  position: absolute;
}

#curton1 {
  top: 0;
  left: 0;
  animation: curtonDown;
  animation-direction: normal;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#curton2 {
  top: 0;
  right: 0;
  animation: curtonUp;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes curtonDown {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes curtonUp {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes moveMeasure {
  0% {
    height: var(--pr-size);
    width: var(--pr-size);
  }
  100% {
    height: var(--size);
    width: var(--size);
  }
}
